body {
    background: white;
    /*cor do site #eaecee*/
    margin: 200px;
    
}

nav {
    font-family: monospace;
    font-size: 22px;
}

header {
    font-family: monospace;
    font-size: 12px;
}

h1 {
    font-family: fantasy;
}

h2 {
    font-family: fantasy;
}

p {
    font-family: monospace;
    font-size: x-large;
}

.img_padrao {
    margin-bottom: 20px;
    width: 300px;
}